<style media="screen">
  .highlight {
    font-weight: bold;
  }
  .cancel {
    color: $ccc;
  }
  table > tbody > tr {
    cursor: pointer;
  }
</style>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Заказчики</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addCustomer()">New</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>

    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<!-- <h5>Открытые заказы <small class="text-muted"> Заказды қалай таңдайтынын сұрау керек</small></h5> -->
<div class="">
  <table id="customertable" class="display table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Закачик</th>
        <th>Адрес доставки</th>
      </tr>
    </thead>
  </table>
</div>

<div id="modal-container"></div>

<script type="text/javascript">
  feather.replace();

  function addCustomer() {
    handler('modal-container', 'modal-add-customer.html');
  }


  data_table = $('#customertable').DataTable(
  {
      //"lengthChange": false
      "stateSave": true,
      "lengthMenu": [7, 15, 19],
      "processing": true,
      "serverSide": false,
      "ajax": {
          "url": "/customers-view",
          "type": "POST"
      },
      "columns": [
          { "data": "customer_id" },
          { "data": "customer_name" },
          { "data": "address" }
      ]
  });


</script>
