<!doctype html>
<html lang="en">
<%- include ("./common/head") %>
<body>
<%- include ("./common/header") %>

<div class="container-fluid">
    <div class="row">
        <%# include ("./common/nav.ejs")%>
        <main id="main" role="main" class="col px-4">
            <% if(page) { %><%- include (page) %><% } %>
        </main>
    </div>
</div>
<!--
    Кейіндеу серверден шақырып алатын қылып жасайтын болармын
-->
<datalist id="carrencylist">
    <option value="KZT">
    <option value="RUB">
    <option value="EUR">
    <option value="GBP">
    <option value="USD">
</datalist>

<datalist id="unitlist">
    <option value="шт.">
    <option value="кг.">
    <option value="м.">
    <option value="мм.">
    <option value="т.">
</datalist>

<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="./js/feather-icons/feather.min.js"></script>
<script src="./js/Chart.min.js"></script>

<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script src="./js/jquery.smartWizard.min.js"></script>
<!-- Include jQuery Validator plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

<script>

    /* DataTable үшін барлығына ортақ опциялары */
    opt = {
        lengthMenu: [7, 15, 19],
        stateSave: true,
        processing: true,
        serverSide: false
    }

    /*  Бұл функцияны қолданыстан шығарып тастап жатырмын */
    getHtml = function(container, url, data) {

        $.ajax({
            url: url,
            type: "post",
            data: data,
            dataType: 'html',
            success: function (data, textStatus, jqXHR) {
                //console.log(data);
                $('#' + container).prepend(data);
            }
        })
    }


    /*
     *  getPage( container, url, data)  функция url адресі бойынша серверден келген html құжатты #container-дің
     *  ішіне орналастырады. data {} - серверге жіберілетін мәлімет
     */
    getPage = function (container, url, data, cb) {
        container = container || 'main';
        data = data || '';

        $.ajax({
            url: url,
            type: "post",
            data: {"data": data, "container": container},
            dataType: 'html',
            success:
                function (data, textStatus, jqXHR) {
                    $(`#${container}`).append(data);
                    console.log(url);
                },
            complete:
                function() {
                    if( typeof(cb) === 'function') cb()
                }
        })
    }


    /*  duty_function функцияслар стегі
     *  модалды формаларды шақырғанда сол форма жабылған кезде орындалу керек функциялар осы айнымалының ішінде
     *  сақталады. Стектің принципі бойынша LIFO ең соңғы ашылған modal-form ең бірінші болып жабылады
     *
     *  main( func1 ) ----> modal( func1m ) -----> modal( func2m )
     *    push()                push()              push()
     *
     *  main( func1 ) <---- modal( func1m ) <----- modal( func2m )
     *    pop()                pop()              pop()
     */
    duty_function = [];

</script>

<script src="./js/<%= page %>.js"></script>
</body>
</html>
