<!-- Modal -->
<div class="modal fade" id="modal-add-user" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Новый пользователь</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ******************************************************************************* -->

                <form id="modal-add-user-form" action="" method="post">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold text-right" for="user_name">Имя пользователя</label>
                        <div class="col-sm-8">
                            <input name="user_name" id="user_name" placeholder="" type="text" class="form-control form-control-sm" required><small class="text-info"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold text-right" for="email">email</label>
                        <div class="col-sm-6">
                            <input name="email" type="text" id="email" class="form-control form-control-sm" placeholder="" required><small class="text-info"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold text-right" for="password">Пароль</label>
                        <div class="col-sm-4">
                            <input name="password" type="password" id="password" class="form-control form-control-sm" required><small class="text-info"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold text-right" for="passwordconf">Подтверждение</label>
                        <div class="col-sm-4">
                            <input name="passwordconf" type="password" id="passwordconf" class="form-control form-control-sm" required><small class="text-info"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right font-weight-bold" for="cos_id">Права пользователя</label>
                        <div class="col-5">
                            <select class="form-control form-control-sm" id="cos_id" name="cos_id" required>
                                <option value="1">Chose...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right font-weight-bold" for="company_id">Компания</label>
                        <div class="col-5">
                            <select class="form-control form-control-sm" id="company_id" name="company_id" required>
                                <option value="">...</option>
                                <% for (i = 0; i < company.length; i++) { -%>
                                <option value="<%=company[i].company_id_%>"><%= company[i].company_name %></option><% } %>
                            </select>
                        </div>
                    </div>
                    <button type="submit" id="submit-modal-add-user-form" name="submit" hidden></button>
                </form>
                <!-- ******************************************************************************* -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script>

    (function () {

        let modalUrl    = '/user-add';
        let modalId     = '#modal-add-user';
        let formId      = '#modal-add-user-form';
        let submitBtn   = '#submit-modal-add-user-form';

        feather.replace();

        let submitButton = $(submitBtn).click(function (e) {

            let isValid = $(formId)[0].checkValidity();

            if (false === isValid) return true;       // true деп қайтармасаң валидацияны көрсетпейді
            e.preventDefault();

            save.prop('disabled', true);
            $.post({
                url: modalUrl,
                data: $(formId).serialize(),
                success: function (res, sts, xhr) {
                    /* Бұл жерде кезекші функцияны орындаймыз, ал форма жабылған кезде
                     * оны стектен алып тастаймыз. Міне енді дұрыс болған сияқты */
                    duty_function[duty_function.length - 1](res);
                    $(modalId).modal('hide');
                },
                error: function (xhr, sts, err) {
                    save.prop('disabled', false);
                    alert('Server not response', err);
                }
            });
        });

        let save = $(`${modalId} .modal-footer>.btn-outline-primary`).on('click', function () {
            submitButton.trigger('click');
        });

        $(modalId).modal('show');
        console.log('modal-add-request АШылған кездегі duty_function');
        console.log(duty_function);


        $(modalId).on('hidden.bs.modal', function () {
            $(modalId).parent().html(null);
            duty_function.pop();
            console.log('modal-add-user ЖАБылған кездегі duty_function');
            console.log(duty_function);
        })
    })()
</script>
