<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Create Quotation</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addRequest()">New</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>
<!--http://techlaboratory.net/smartwizard#documentation-->
<form action="#">

    <div id="smartwizard">

        <ul>
            <li><a href="#step-1">Заявка<br /><small>Оформление заявки</small></a></li>
            <li><a href="#step-2">Поставщики<br /><small>Выбрать поставщиков</small></a></li>
            <li><a href="#step-3">Расчет<br /><small>Расчет транспортировки</small></a></li>
            <li><a href="#step-4">Предложение<br /><small>Формирование ком.предлжения</small></a></li>
        </ul>


        <div>
            <div id="step-1" class="mt-4"></div>
            <div id="step-2" class="mt-1"></div>
            <div id="step-3" class="mt-1">
                Step Content
            </div>
            <div id="step-4" class="">
                Step Content
            </div>
        </div>
    </div>

</form>

