<div class="form-group" id="form-step-0" role="form">
    <div class="row">
        <label class="col-1 col-form-label text-right font-weight-bold" for="tender_id">Заявка</label>
        <div class="col-9">
            <select class="form-control form-control-sm selectpicker" data-live-search="true" data-style="btn-secondary" id="tender_id" name="tender_id" data-validate required>
                <option value="">...</option>
            </select>
            <span class="help-block with-errors"></span>
        </div>
    </div>

    <div class="offset-1 custom-file_">
        <label for="customFile" class="btn btn-sm btn-outline-secondary" role="button">Файл</label>
        <input type="file" class="d-none" name="myfiles" id="customFile" multiple>
    </div>
    <div class="row my-2">

        <div class="col-9 offset-1"></div>

    </div>
</div>

<script>
!function() {

    const input = $('#customFile').on('change', function(){
        console.log(this.files)
        for( const key in this.files) {
            if(key == 'length') break;
            let filename = this.files[key].name;
            let filetype = filename.split('.');
            filetype = (filetype.length > 1) ? filetype.pop() : 'readme';
            filetype = `./img/${filetype}128.png`;
            const card = $('<div class="card mr-1 mt-1"></div>');
            card.html('<button type="button" class="close text-right" aria-label="Close" onclick="removeCard(event)">' +
            `<span aria-hidden="true">&times;</span></button><div class="card-container"><img src="${filetype}" class="d-none" alt="...">` +
            '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>' +
            `</div></div><div class="card-body my-card-body"><p class="card-text text-center text-truncate">${filename}</p></div>`);

            $('.col-9.offset-1').append(card);

            var fd = new FormData();
            fd.append('myfiles',this.files[key]);
            $.ajax({
                url: '/uploadmultiple',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                mimeType: 'multipart/form-data',
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();

                    xhr.upload.addEventListener("progress", function(evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            console.log(percentComplete);

                            card.find('.progress-bar').css('width', percentComplete + '%');
                            card.find('.progress-bar').attr('aria-valuenow', percentComplete);
                        }
                    }, false);
                    return xhr;
                },
                success: function(response){
                    if(response != 0){
                        card.find('img').removeClass('d-none');
                        card.find('.progress').addClass('d-none');
                    }else{
                        alert('file not uploaded');
                    }
                },
            });

        }
    })

    removeCard = function(e) {
        $(e.target).parent().parent().remove();
        $('#customFile').val('');
    }

    $.ajax({
        type: "POST",
        url: "/tenders-view",
        success: function(res){

            data = res.data;
            var option = "<option value=''>...</option>";

            for (i=0; i<data.length; i++) {
                option = option + "<option value='" + data[i].tender_id + "'>" + data[i].tender_name + "</option>";
            }

            $('#tender_id').html(option);

            $('#tender_id').selectpicker();
        }
    });

}()
</script>
