<div class="form-group" id="form-step-0" role="form">
    <div class="row">
        <label class="col-1 col-form-label text-right font-weight-bold" for="tender_id">Заявка</label>
        <div class="col-9">
            <select class="form-control form-control-sm selectpicker" data-live-search="true" data-style="btn-secondary" id="tender_id" name="tender_id" data-validate required>
                <option value="">...</option>
            </select>
            <span class="help-block with-errors"></span>
        </div>
    </div>

    <div class="offset-1 custom-file_">
        <label for="customFile" class="btn btn-sm btn-outline-secondary" role="button">Файл</label>
        <input type="file" class="d-none" id="customFile" multiple>
    </div>
    <div class="row my-2">

        <div class="col-9 offset-1"></div>

    </div>
</div>

<script>
!function() {

    document.addEventListener("upload", function(event) {
        console.log("Привет от " + event.target.tagName);
        let count = 0;
        const card = $(event.target);
        let img = card.find('img');
        let progress = card.find('.progress');
        let timer = setInterval(function() {
            if (count==100) {
                setTimeout(() => {
                    img.removeClass('d-none');
                    progress.addClass('d-none');
                    clearInterval(timer);
                }, 20);
            } else progress.find('.progress-bar').css('width', ++count + '%');
        }, 200)

    });

    const input = $('#customFile').on('change', function(){
        console.log(this.files)
        for( const key in this.files) {
            if(key == 'length') break;
            let filename = this.files[key].name;
            let filetype = filename.split('.');
            filetype = (filetype.length > 1) ? filetype.pop() : 'readme';
            filetype = `./img/${filetype}128.png`;
            const card = $('<div class="card mr-1 mt-1"></div>');
            card.html('<button type="button" class="close text-right" aria-label="Close" onclick="removeCard(event)">' +
            `<span aria-hidden="true">&times;</span></button><div class="card-container"><img src="${filetype}" class="d-none" alt="...">` +
            '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>' +
            `</div></div><div class="card-body my-card-body"><p class="card-text text-center text-truncate">${filename}</p></div>`);

            $('.col-9.offset-1').append(card);
            card[0].dispatchEvent(new Event('upload', {bubbles: true}));
            //card.trigger(jQuery.Event('upload', { bubbless: true }));
        }
    })

    removeCard = function(e) {
        $(e.target).parent().parent().remove();
        $('#customFile').val('');
    }

    $.ajax({
        type: "POST",
        url: "/tenders-view",
        success: function(res){

            data = res.data;
            var option = "<option value=''>...</option>";

            for (i=0; i<data.length; i++) {
                option = option + "<option value='" + data[i].tender_id + "'>" + data[i].tender_name + "</option>";
            }

            $('#tender_id').html(option);

            $('#tender_id').selectpicker();
        }
    });

}()
</script>
