<a href="#" id="btnSupplierMinus3" class="btn btn-sm btn-outline-primary">-</a>
<a href="#" id="btnSupplierPlus3" class="btn btn-sm btn-outline-primary">+</a>
<div id="step3-lots" class="mb-2 mt-2"></div>

<script>

    $('#btnSupplierMinus3').click(function () {

        $('#step3-lots > .quotation-calculate:first-child').remove();
    });

    $('#btnSupplierPlus3').click((function(){
        let count = 0;
        return function () {
            getHtml('step3-lots', '/step3', {count: count });
            count++;
        }
    })())

</script>