<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title><%= title %></title>

    <link rel="canonical" href="localhost:3000">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Favicons -->
    <!--<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">-->
    <!--<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">-->
    <!--<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">-->
    <!--<link rel="manifest" href="./manifest.json">-->
    <!--<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">-->
    <link rel="icon" href="./img/favicon.png">
    <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
    <link rel="stylesheet" href="./css/smart_wizard.min.css">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .navbar-nav > .nav-item > .nav-link {
            font-size: 0.875rem;
        }

         input[type='number'] {
             -moz-appearance:textfield;
         }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        [role="tab-container"] {
            padding-top: 3rem;
        }

        .dropdown-menu, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.form-control {
            font-size: 0.75rem;
        }
        .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-append>.btn-sm {
            height: 1.75rem;
        }
        .table-sm td, .table-sm th {
            padding: 1px;
        }
        .form-control-sm {
            font-size: 0.75rem;
            padding: 0.1rem 0.1rem;
        }
        .form-control[readonly] {
            background-color: white;
            opacity: 1;
        }
        .form-control:disabled {
            background-color: #fff3cd;
        }
        .btn-secondary {
            color: black;
            background-color: #e9ecef;
            border-color: #ced4da;
        }

        /*
         *  Datatable үшін арналған
         */
        table > tbody > tr {
            cursor: pointer;
        }

        div.dt-buttons {
            float: none;
            padding-bottom: 1rem;
        }

        /* quotation smartwizard-та пайдаланылады */
        .my-card-body {
            height: 2rem;
            padding: 0.5rem;
        }
        .card .close {
            margin: 0rem 0rem 0rem auto;
        }

        .card img {
            position: absolute;
            left: 39px;
            width: 48px;
            height: 48px;
            cursor: pointer;
        }
        .card {
            width: 8rem;
            float: left;
        }
        .card-container .progress {
            height: 5px;
            margin: 20px 15px;
        }
        .card-container {
            margin-top: 10px;
            height: 48px;
        }
        .card button {
            position: absolute;
            right: 5px;
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="./css/dashboard.css" rel="stylesheet">
</head>